.account-section{
    padding: 20px 0 0;
    h1{
        font-size: 28px;
        line-height: 32px;
        font-weight: 400;
        color: #333;
        margin: 0 0 16px;

        @include Tabbreakpoint($TabletScreen) {
            font-size: 24px;
            line-height: 28px;
        }
    }

    .acc-nav{
        margin: 0 -15px;
        padding: 0 0 56px;
        list-style: none;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        min-height: 180px;
        color: #333;

        @include breakpoint($MobileScreen) {
            padding: 0 0 64px;
        }

        li{
            width: 33.333%;
            float: left;
            padding: 0 15px;
            margin: 0 0 24px;
            box-sizing: border-box;

            @include breakpoint($MobileScreen) {
                width: 100%;
                float: none;
                margin: 0 0 16px;
            }

            a{
                height: 100%;
                display: block;
                text-decoration: none;
                color: #333;
                border: 1px solid #909090;
                padding: 16px;
                box-sizing: border-box;
            }

            h2{
                font-size: 16px;
                line-height: 24px;
                color: #333;
                margin: 0 0 17px;
                font-weight: 700;
            }

            .img-holder{
                margin: 0 0 17px;
                min-height: 50px;
                display: table;
                width: 100%;
                
                .img-frame{
                    display: table-cell;
                    vertical-align: middle;
                }
                img{
                    display: inline-block;
                    vertical-align: middle;
                    width: auto;
                }
            }
            p{
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}