/* variable for global use ***/
$PrimaryFont: Arial, Helvetica, "Helvetica Neue", Roboto, georgia, serif;
$PrimaryColor: #3071a9;
$PrimaryTextColor: #707070;
$secdonary-text-color: #5f5f5f;
$primaryHedingColor: #333;
$primaryFontsize: 16px;
$primaryLineHeight: 24px;
$conatinerWidth: 1400px;
$header-bg: #eeeeee;
$smartMobileScreen: 420px;
$MobileScreen: 767px;
$TabletScreen: 1023px;
$IconSvgColor: invert(38%) sepia(62%) saturate(554%) hue-rotate(166deg)
  brightness(91%) contrast(91%);
$whiteSvgColor: invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg)
  brightness(106%) contrast(106%);
$main-heading-size: 28px;
$main-Tablet-heading-size: 24px;
$secondary-heading-size: 22px;
$secondary-heading-lineHeight: 32px;
$seconday-heading-margin-bottom: 8px;
$descriptionMarginBottom: 24px;
$mobile-main-heading-size: 24px;
$lightfontweight: 400;
$fontBold: 700;
$secondary-mobileheading-size: 18px;
$secondary-mobileheading-lineHeight: 24px;
